.main {
    padding: 0 2em 0 2em;
    margin-left: auto;
    margin-right: auto;
}

#custom-menu-wrapper {
    background-color: #808080;
    margin-bottom: 1em;
    white-space: nowrap;
    position: relative;
}

.custom-menu {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

@media (max-width: 62em) {
    .custom-menu {
        display: block;
    }
}

.custom-menu .pure-menu-link,
.custom-menu .pure-menu-heading {
    color: white;
}

.custom-menu .pure-menu-link:hover,
.custom-menu .pure-menu-heading:hover {
    background-color: transparent;
}

.custom-menu-top {
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em;
}

.custom-menu-brand {
    display: block;
    text-align: center;
    position: relative;
}

.custom-menu-toggle {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 3px;
    right: 0;
    display: none;
}

@media (max-width: 62em) {
    .custom-menu-toggle {
        display: block;
    }
}

.custom-menu-toggle .bar {
    background-color: white;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 22px;
    right: 12px;
    transition: all 0.5s;
}

.custom-menu-toggle .bar:first-child {
    transform: translateY(-6px);
}

#custom-menu-wrapper.active .bar {
    transform: rotate(45deg);
}

#custom-menu-wrapper.active .bar:first-child {
    transform: rotate(-45deg);
}

.custom-menu-screen {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    height: 3em;
    width: 70em;
    position: absolute;
    top: 0;
    z-index: -1;
}

#custom-menu-wrapper:not(.active) .custom-menu-screen {
    transform: translateY(-44px);
}

@media (max-width: 62em) {
    #custom-menu-wrapper:not(.active) .pure-menu-link {
        transform: translateX(-140px);
        opacity: 0;
    }

    #custom-menu-wrapper:not(.active) .pure-menu-horizontal {
        z-index: -1;
        top: 45px;
        position: absolute;
        overflow: hidden;
    }
}

@media (max-width: 62em) {
    .custom-menu-bottom {
        position: absolute;
        width: 100%;
        border-top: 1px solid #eee;
        z-index: 100;
    }

    .custom-menu-bottom .pure-menu-link {
        opacity: 1;
        transform: translateX(0);
        transition: all 0.5s;
    }
}
