// I could turn all #custom-menu-wrapper.active into just .active, but this is safer

$screen-small: "(max-width: 62em)";

// content related
.main {
  //max-width: 800px;
  padding: 0 2em 0 2em;
  margin-left: auto;
  margin-right: auto;
}

// container that wraps all menu-related elements
#custom-menu-wrapper {
  background-color: #808080;
  margin-bottom: 1em;
  white-space: nowrap;
  position: relative;
}

// divs that holds all menu elements
.custom-menu {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;

  @media #{$screen-small} {
    display: block;
  }

  .pure-menu-link,
  .pure-menu-heading {
    color: white;

    &:hover {
      background-color: transparent; // override purecss defaults
    }
  }
}

// holds BRAND and the hamburger button
.custom-menu-top {
  position: relative;
  padding-top: .5em;
  padding-bottom: .5em;
}

.custom-menu-brand {
  display: block; // TODO necessary?
  text-align: center;
  position: relative; // TODO necessary?
}

.custom-menu-toggle {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 3px;
  right: 0;
  display: none;

  @media #{$screen-small} {
    display: block;
  }
}

// hamburger icon
.custom-menu-toggle .bar {
  background-color: white;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  top: 22px;
  right: 12px;
  transition: all 0.5s;

  &:first-child {
    transform: translateY(-6px);
  }
}

// hamburger becomes X
#custom-menu-wrapper.active .bar {
  transform: rotate(45deg);

  &:first-child {
    transform: rotate(-45deg);
  }
}

// the bar holding all link elements
.custom-menu-screen {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  height: 3em;
  width: 70em;
  position: absolute;
  top: 0;
  z-index: -1;
}

#custom-menu-wrapper:not(.active) {
  .custom-menu-screen {
    transform: translateY(-44px);
  }

  @media #{$screen-small} {
    .pure-menu-link {
      transform: translateX(-140px);
      opacity: 0;
    }

    .pure-menu-horizontal {
      z-index: -1;
      top: 45px;
      position: absolute;
      overflow: hidden;
    }
  }
}

// deals with only the bar holding all link elements #2
.custom-menu-bottom {
  @media #{$screen-small} {
    position: absolute;
    width: 100%;
    border-top: 1px solid #eee;
    z-index: 100;

    .pure-menu-link {
      opacity: 1;
      transform: translateX(0);
      transition: all 0.5s;
    }
  }
}