$screen-big: "(min-width: 47.999em)";

// content
.main {
  max-width: 800px;
  /*margin: 0 auto;*/
  // disabled for sticky
  /*padding: 0 2em;*/
  // disabled for sticky
  color: #565d64;
  line-height: 1.3em;
}

// when the screen becomes small, all those links appear below BRAND
// height makes sure the bar's size stays the same
// overflow makes sure any words that appear after BRAND gets hidden
.custom-wrapper {
  background-color: #ffd390;
  margin-bottom: 1em;
  -webkit-font-smoothing: antialiased;
  height: 2.1em;
  overflow: hidden;
  transition: height 0.5s;
}

// if you want sticky navbar, use these
.custom-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  // just some cool shits, might not be smart in mobile phone because there
  // is no such thing as mouse hovering over
  opacity: 0.7;
  @media #{$screen-big} {
    opacity: 1;
  }
  &:hover {
    opacity: 1;
  }
}

.main {
  // more reliable
  padding: 2em 2em 0;
  margin-left: auto;
  margin-right: auto;
}

// the contents on the right when screen is big
.custom-menu-3 {
  text-align: left;

  @media #{$screen-big} {
    text-align: right;
  }
}

// the div that wraps the hamburger button
.custom-toggle {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;

  @media #{$screen-big} {
    display: none;
  }

  // hamburger button
  .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    transition: all 0.5s;

    &:first-child {
      transform: translateY(-6px);
    }
  }
}

// deals with looks when menu is open
// set height to 100%, and there's awkward transition, okay if no transition
.custom-wrapper.open {
  height: 14em;

  // turns hamburger button to X
  #toggle .bar {
    transform: rotate(45deg);

    &:first-child {
      transform: rotate(-45deg);
    }
  }
}
