$screen-big: "(min-width: 48em)";
$screen-small: "(max-width: 48em)";
$menu-width: 150px;

%padding-screen-big {
  @media #{$screen-big} {
    padding-left: 2em;
    padding-right: 2em;
  }
}

body {
  color: #777;
}

// animation, can be ignored if not required
// use autoprefixr
#layout, // purecss main site ignored this
#menu,
.menu-link /* hamburger */
{
  transition: all 0.3s ease-out;
}

// the "body" that holds menu and content
#layout {
  position: relative;
  left: 0;
  padding-left: 0;

  @media #{$screen-big} {
    padding-left: $menu-width;
  }
}

// tldr: class 'active' means menu is shown in small screen
#layout.active {
  // set starting point of layout, or how far is the content being pushed
  @media #{$screen-small} {
    left: $menu-width;
  }
}

.header {
  @extend %padding-screen-big
}

// content
.content {
  padding: 0 2em;
  max-width: 800px;
  margin: 0 auto 50px; // might want to set 50px to 0
  line-height: 1.6em;

  &-full {
    max-width: 100%;
  }

  @extend %padding-screen-big;
}

.header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 2.5em 2em 0;
  border-bottom: 1px solid #eee;

  h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
  }
  h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
  }
}

.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #888;
}

// menu, default values are when screen is small
// negative margin pushes it away from the screen
#menu {
  margin-left: -$menu-width;
  width: $menu-width;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: #191818;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  // when left-position is equal to negative margin, it it's as if margin is not set
  @media #{$screen-big} {
    left: $menu-width;
  }

  a {
    color: #999;
    border: none;
    padding: 0.6em 0 0.6em 0.6em;
  }

  .pure-menu {
    border: none;
    background: transparent;
    ul,
    .menu-item-divided {
      border-top: 1px solid #333;
    }
    li a:hover,
    li a:focus {
      background: #333;
    }
  }

  .pure-menu-selected,
  .pure-menu-heading {
    background: #1f8dd6;
  }

  .pure-menu-selected a {
    color: #fff;
  }

  .pure-menu-heading {
    font-size: 110%;
    color: #fff;
    margin: 0;
  }
}

// determines width and starting point of menu when menu is open
#layout.active #menu {
  left: $menu-width;
}

// the hamburger button
.menu-link {
  position: fixed;
  display: block; // default on smaller screen, it will be "next to" the menu
  top: 0;
  left: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.4);
  font-size: 10px;
  z-index: 10;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em;

  @media #{$screen-big} {
    display: none;
  }

  // remove transparency
  &:hover,
  &:focus {
    background: #000;
  }
}

// the hamburger icon, css trickery I don't want to deal with
.menu-link span {
  position: relative;
  display: block;
  &,
  &:before,
  &:after {
    background-color: #fff;
    width: 100%;
    height: 0.2em;
  }
  &:before,
  &:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
  }
  &:after {
    margin-top: 0.6em;
  }
}

// determines location of button when hamburger is open
#layout.active .menu-link {
  left: $menu-width;

  // turns hamburger button into X
  span {
    background: transparent;

    &:before {
      transform: rotate(45deg) translate(.5em, .4em);
    }
    &:after {
      transform: rotate(-45deg) translate(.4em, -.3em);
    }
  }
}