.main {
    max-width: 800px;
    /*margin: 0 auto;*/
    /*padding: 0 2em;*/
    color: #565d64;
    line-height: 1.3em;
}

.custom-wrapper {
    background-color: #ffd390;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 2.1em;
    overflow: hidden;
    transition: height 0.5s;
}

.custom-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    opacity: 0.7;
}

@media (min-width: 47.999em) {
    .custom-wrapper {
        opacity: 1;
    }
}

.custom-wrapper:hover {
    opacity: 1;
}

.main {
    padding: 2em 2em 0;
    margin-left: auto;
    margin-right: auto;
}

.custom-menu-3 {
    text-align: left;
}

@media (min-width: 47.999em) {
    .custom-menu-3 {
        text-align: right;
    }
}

.custom-toggle {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}

@media (min-width: 47.999em) {
    .custom-toggle {
        display: none;
    }
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    transform: translateY(-6px);
}

.custom-wrapper.open {
    height: 14em;
}

.custom-wrapper.open #toggle .bar {
    transform: rotate(45deg);
}

.custom-wrapper.open #toggle .bar:first-child {
    transform: rotate(-45deg);
}
